

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <% if (user) { %>
      <a href="/logout" id="logout_button">Logout</a>
  <% } %>
  
  
    <h1>Welcome to Iflair Web Technology </h1>
    <img src="https://mir-s3-cdn-cf.behance.net/user/276/3a006d154326095.5b28add64baf1.jpg" alt="Dynamic Image">

  </body>
</html>
